<tr {{#if published}}{{else}}class="draft{{#if featured}}featured{{/if}}"{{/if}} id="tr{{slug}}" {{#if featured}}class="featured"{{/if}}>
  <td id="{{slug}}">
    <p class="postTitle_viewTable"><a href="/posts/{{title}}" target="_blank">{{title}}</a></p>
    <div class="hide">
      <div class="post-description-viewTable">{{description}}</div>
      <span class="post-category-viewTable">{{category}}</span>
      <div class="post-full-viewTable">{{full_post}}</div>
      {{#if hasImage}}
      <span class="image-address">{{media.url}}</span> {{/if}}
    </div>
    <p class="actionsOnPost_viewTable">
      <a href="/controls/posts/edit/{{slug}}" class="editAction_viewTable waves-effect btn-flat blue-grey lighten-4">Edit</a>
      <span class="deleteAction_viewTable waves-effect btn-flat blue-grey lighten-4">DELETE</span>
      <a href="/p{{url}}" target="_blank" class="viewAction_viewTable waves-effect btn-flat blue-grey lighten-4">VIEW</a>
      {{#if featured}}{{else}}{{#if published}}
      <span class="featureAction_viewTable waves-effect btn-flat blue-grey lighten-2">FEATURE</span>
      {{/if}}{{/if}}
    </p>
  </td>
  <td>{{#if published}}Published{{else}}Draft{{/if}}</td>
  <td class="creationTime">{{getPostTime createdOn}}</td>
  <td class="creationTime">{{created_on}}</td>
</tr>