<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="grey lighten-5">
	<header>
		{{> nav}}
		{{#if home}}
		<div class="container">
				<section class="featured-posts row no-margin-bottom">
						<h1 class="section-heading">Featured Posts</h1>
						{{#each featured}}
						<div class="col s12 m6 l4">
								<div class="card">
										<div class="card-image">
												<img src="{{media.secure_url}}" class="img-responsive">
												<a href="/p{{url}}" class="card-title">{{title}}</a>
										</div>
								</div>
						</div>
						{{/each}}
				</section>
		</div>
		{{/if}}
	</header>
	<main class="row">
		<div class="col s12 m12 l9">
			<h1 class="section-heading" style="text-transform: uppercase;">{{postsGroupTitle}}</h1>
			{{#if empty}}
			<br><br>
			<h4>No post here yet. </h4>
			<p class="flow-text">Check back later</p>
			{{else}}
			<section class="blog-posts">
				{{!-- {{#each posts}} {{#if published}} --}}
				{{#each posts}}
				{{> article}}
				{{/each}}
			</section>
			{{/if}}
		</div>
		{{> aside}}
	</main>
	{{> footer}}
</body>

</html>